*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.formLapa{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.form{
    width: 100%;
    max-width: 420px;
    padding: 20px;
    background: transparent;
    border: 2px solid #363636;
    border-radius: 5px;
    backdrop-filter: blur(3px);
}
.input{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #363636;
    border-radius: 5px;
}
input{
    padding: 10px;
    margin: 10px 0;
}
.btn{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #0050a5;
    border-radius: 5px;
    background-color: #007bff;
    color: black;
    cursor: pointer;
    font-size: 15px;
}
h1{
    text-align: center;
    font-size: 40px;
}
#style{
    display: flex;
    width: 100%;
}
.table-container {
    margin: 0 10px;
    max-height: 90vh;
    overflow-y: auto;
    width: 85%;
    border: 2px solid black;
}
table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
}
th, td {
    /* padding: 2px; */
    text-align: center;
    border-bottom: 1px solid #bdbdbd;
    border-right: 1px solid #bdbdbd;
}
th {
    background-color: #bdbdbd;
    padding: 15px 5px;
}
.hidden-column{
    display: none;
}
button {
    cursor: pointer;
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    border: 1px solid #363636;
    border-radius: 5px;
    background-color: #f2f2f2;
    color: black;
}

button:hover {
    background-color: #25a0ed;
    transition: ease-in 0.1s;
}

.sidebar{
    width: 15%;
    height: 90vh;
    padding: 20px;
    backdrop-filter: blur(3px);
    border: 2px solid #363636;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
}
a{
    text-decoration: none;
    color: black;
}
.sidebar .logout{
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #363636;
    border-radius: 5px;
    text-align: center;
    background-color: #f2f2f2;
}
.sidebar .logout:hover{
    background-color: #af280b;
    transition: background-color 0.3s ease;
}
tr:nth-child(even) {
  background-color: #dddddd;
}
@media screen and (max-width: 770px){
    .table-container{
        width:100%;
        margin: 0;
    }
    *{
        margin: 0;
        padding: 0;
    }
    table{
        font-size: 14px;
    }
}